@font-face {
    font-family: 'Manrope';
    src:    url('../../fonts/Manrope-SemiBold.woff') format('woff'),
            url('../../fonts/Manrope-SemiBold.woff2') format('woff2'),
            url('../../fonts/Manrope-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    overflow-x: hidden ;
}



@media (max-width:940px)  { 
    #bottom-text {
        font-size: 1.5vw;
    }
}

@media (min-width:1520px)  { 
    p {
        font-size: 1vw;
    }

    .face-imgs {
        height: 40vw !important; 
        width: 40vw !important; 
    }
       
    
}


h1 p {
    font-family: Manrope, sans-serif;
    font-style: normal;
}

body {
    background-color: #FFDA33 !important;
    transition: 1s;
}

.sidebar-content {
    background-color:#020202;
}




.logo {
    font-family: Manrope, sans-serif;
    background-color: #F2F2F2;
    color:black !important;
    margin:3%;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 3px;
}
.slatt:hover  {
    animation: clientHover 2s ease-out 0s infinite alternate none;
    color: #fff !important;
    cursor:pointer;
}





.face-imgs img {
    position: absolute;
    width: 100%;
    border: solid 2px #020202;
}



@keyframes clientHover {
    0.0%{
        background: #88292F;
    }
    100%{
        background: #CE8147;
    }
}


.client-box>img {
    max-width: 70%;
    max-height: 70%;
    width: auto;
    height: auto;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

@color-card-background: #2d3638;
@color-tag-background: #191e20;
@color-anchor: #e37544;
@color-body-copy: #b9bcbd;
@default-border-radius: 0px;
@breakpoint-medium: "screen and (min-width: 700px)";

