@import url("https://use.typekit.net/ixa6xeg.css");


div {
}
.sidebar {
    height:100vh !important;
}

.logo-redirect {
    text-decoration:none !important;
    color:black;
}

h1 {
    font-family: niveau-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.Col {
    background-color:white;
}

.sidebar-content {
    background-color:black;
    padding-left:2% !important;
}

.fixed-bottom {
    padding-left:2% !important;

}


.logo {
    background-color:white;
    color:black !important;
    margin:3%;
    margin-left:auto;
    margin-right:auto;

    box-shadow: 3px;
}
.slatt:hover  {background-color:white !important;
color:black;}

.face-imgs {
    height: 60vh !important; 
    width: 60vh !important; 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.face-imgs img {
    position: absolute;
    width: 100%;
}


body {
    transition: 1s;
}

.icon-logo {
    margin-left:1%;
    margin-top:1%;
    margin-right:1%;
    margin-bottom:1%;
    background: #000;
}

.about-link {
    text-decoration: none !important;
    color: #000;
}

.client-box>img {
    max-width: 75%;
    max-height: 75%;
    width: auto;
    height: auto;
}


@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

@color-card-background: #2d3638;
@color-tag-background: #191e20;
@color-anchor: #e37544;
@color-body-copy: #b9bcbd;
@default-border-radius: 10px;
@breakpoint-medium: "screen and (min-width: 700px)";

html, body {
  background-color: #fff;
}

.form-popup-bg {
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.form-popup-bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  overflow-y: auto;
  z-index: 10000;
}
.form-popup-bg.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.form-container {
    background-color: #2d3638;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
  padding: 40px;
  color: #fff;
}
.close-button {
  background:none;
  color: #fff;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  border: solid 1px #fff;
}

.form-popup-bg:before{
    content:'';
    background-color: #fff;
  opacity: .25;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


